<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- $TexturePacker:SmartUpdate:8eac76d7ae4eef4c3794f0f2d4805f70:1/1$ -->
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
		 
			<key>Button-Active</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 48,163 }, { 99,46 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 99,46 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 99,46 }</string>
				</dict>
		 
			<key>Button-Normal</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 2,141 }, { 97,44 } }</string>
 					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <true/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 97,44 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 97,44 }</string>
				</dict>
		 
			<key>DDButton-Glyph</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 149,198 }, { 20,21 } }</string>
 					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <true/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 20,21 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 20,21 }</string>
				</dict>
		 
			<key>DDButton-Normal</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 2,141 }, { 97,44 } }</string>
 					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <true/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 97,44 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 97,44 }</string>
				</dict>
		 
			<key>DDMenu-Background</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 2,2 }, { 171,137 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 171,137 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 171,137 }</string>
				</dict>
		 
			<key>DDMenu-Button</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 157,141 }, { 3,3 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 3,3 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 3,3 }</string>
				</dict>
		 
			<key>Slider-Thumb</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 149,163 }, { 21,33 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 21,33 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 21,33 }</string>
				</dict>
		 
			<key>Slider-Track-Normal</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 48,211 }, { 99,11 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 99,11 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 99,11 }</string>
				</dict>
		 
			<key>Slider-Track-Selected</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 48,141 }, { 107,20 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 107,20 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 107,20 }</string>
				</dict>
		
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>GameUI.png</string>
			<key>size</key>
			<string>{ 175,240 }</string>
			<key>textureFileName</key>
			<string>GameUI.png</string>
		</dict>
	</dict>
</plist>