<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- $TexturePacker:SmartUpdate:c44c1c7142ba403b9e16780192b20545:1/1$ -->
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
		 
			<key>Button-Active</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 181,2 }, { 103,50 } }</string>
 					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <true/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 103,50 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 103,50 }</string>
				</dict>
		 
			<key>Button-Normal</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 181,107 }, { 103,49 } }</string>
 					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <true/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 103,49 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 103,49 }</string>
				</dict>
		 
			<key>DDButton-Glyph</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 25,175 }, { 20,21 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 20,21 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 20,21 }</string>
				</dict>
		 
			<key>DDButton-Normal</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 141,2 }, { 161,38 } }</string>
 					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <true/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 161,38 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 161,38 }</string>
				</dict>
		 
			<key>DDMenu-Background</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 2,2 }, { 171,137 } }</string>
 					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <true/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 171,137 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 171,137 }</string>
				</dict>
		 
			<key>Slider-Thumb</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 2,175 }, { 21,33 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 21,33 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 21,33 }</string>
				</dict>
		 
			<key>Slider-Track-Normal</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 25,198 }, { 99,11 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 99,11 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 99,11 }</string>
				</dict>
		 
			<key>Slider-Track-Selected</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 47,175 }, { 107,20 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 107,20 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 107,20 }</string>
				</dict>
		
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>GameUI.png</string>
			<key>size</key>
			<string>{ 233,212 }</string>
			<key>textureFileName</key>
			<string>GameUI.png</string>
		</dict>
	</dict>
</plist>