<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- $TexturePacker:SmartUpdate:609795f96e5fadced46714de6b129b1d:1/1$ -->
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
		 
			<key>Button-Active</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 163,105 }, { 93,39 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 93,39 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 93,39 }</string>
				</dict>
		 
			<key>Button-Normal</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 163,64 }, { 93,39 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 93,39 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 93,39 }</string>
				</dict>
		 
			<key>DDButton-Glyph</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 180,146 }, { 20,21 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 20,21 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 20,21 }</string>
				</dict>
		 
			<key>DDButton-Normal</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 163,64 }, { 93,39 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 93,39 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 93,39 }</string>
				</dict>
		 
			<key>DDMenu-Background</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 2,64 }, { 159,125 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 159,125 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 159,125 }</string>
				</dict>
		 
			<key>DDMenu-Button</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 163,181 }, { 3,3 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 3,3 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 3,3 }</string>
				</dict>
		 
			<key>DDMenu-ItemBackground</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 258,64 }, { 1,1 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 1,1 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 1,1 }</string>
				</dict>
		 
			<key>Slider-Thumb</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 163,146 }, { 15,33 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 15,33 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 15,33 }</string>
				</dict>
		 
			<key>Slider-Track-Normal</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 2,191 }, { 241,11 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 241,11 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 241,11 }</string>
				</dict>
		 
			<key>Slider-Track-Selected</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 2,33 }, { 257,29 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 257,29 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 257,29 }</string>
				</dict>
		 
			<key>Slider-Track-SelectedGreen</key>
				<dict>
					<key>frame</key>
					
					<string>{ { 2,2 }, { 257,29 } }</string>
					

					<key>offset</key>
				  <string>{ , }</string>
				  
				  <key>rotated</key>
					 <false/> 
				  
				  <key>sourceColorRect</key>
				  <string>{ { 0,0 },{ 257,29 } }</string>
				
				  <key>sourceSize</key>
				  <string>{ 257,29 }</string>
				</dict>
		
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>GameUI.png</string>
			<key>size</key>
			<string>{ 261,204 }</string>
			<key>textureFileName</key>
			<string>GameUI.png</string>
		</dict>
	</dict>
</plist>