<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ButtonBlueOff</key>
		<dict>
			<key>frame</key>
			<string>{{72,194},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>ButtonBlueOn</key>
		<dict>
			<key>frame</key>
			<string>{{72,158},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>ButtonGrayOff</key>
		<dict>
			<key>frame</key>
			<string>{{36,194},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>ButtonGrayOn</key>
		<dict>
			<key>frame</key>
			<string>{{36,158},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>ButtonYellowOff</key>
		<dict>
			<key>frame</key>
			<string>{{0,194},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>ButtonYellowOn</key>
		<dict>
			<key>frame</key>
			<string>{{0,158},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>PickerBackground</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{128,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,98}}</string>
			<key>sourceSize</key>
			<string>{128,98}</string>
		</dict>
		<key>PickerSelection</key>
		<dict>
			<key>frame</key>
			<string>{{0,98},{128,60}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,15},{128,60}}</string>
			<key>sourceSize</key>
			<string>{128,84}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UIElements.png</string>
		<key>size</key>
		<string>{128,230}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:94da467fc9ccd5fa1e0d8fe0019b4bde$</string>
		<key>textureFileName</key>
		<string>UIElements.png</string>
	</dict>
</dict>
</plist>
