<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>270</real>
	<key>angleVariance</key>
	<real>15</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>configName</key>
	<string>MarbleSpecial</string>
	<key>duration</key>
	<integer>-1</integer>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<real>0.0</real>
	<key>finishColorBlue</key>
	<real>0.0</real>
	<key>finishColorGreen</key>
	<real>0.15052813291549683</real>
	<key>finishColorRed</key>
	<real>1</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.0</real>
	<key>finishColorVarianceBlue</key>
	<real>0.0</real>
	<key>finishColorVarianceGreen</key>
	<real>0.0</real>
	<key>finishColorVarianceRed</key>
	<real>0.0</real>
	<key>finishParticleSize</key>
	<real>3</real>
	<key>finishParticleSizeVariance</key>
	<real>0.0</real>
	<key>gravityx</key>
	<real>0.0</real>
	<key>gravityy</key>
	<real>-20</real>
	<key>maxParticles</key>
	<real>405.71624755859375</real>
	<key>maxRadius</key>
	<real>46.530000000000001</real>
	<key>maxRadiusVariance</key>
	<real>196.59999999999999</real>
	<key>minRadius</key>
	<real>0.0</real>
	<key>minRadiusVariance</key>
	<real>0.0</real>
	<key>particleLifespan</key>
	<real>0.5</real>
	<key>particleLifespanVariance</key>
	<real>0.0</real>
	<key>radialAccelVariance</key>
	<real>0.0</real>
	<key>radialAcceleration</key>
	<real>0.0</real>
	<key>rotatePerSecond</key>
	<real>0.0</real>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>0.0</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>0.0</real>
	<key>rotationStartVariance</key>
	<real>0.0</real>
	<key>sourcePositionVariancex</key>
	<real>160</real>
	<key>sourcePositionVariancey</key>
	<real>0.0</real>
	<key>sourcePositionx</key>
	<real>160</real>
	<key>sourcePositiony</key>
	<real>240</real>
	<key>speed</key>
	<real>10</real>
	<key>speedVariance</key>
	<real>30</real>
	<key>startColorAlpha</key>
	<real>0.5</real>
	<key>startColorBlue</key>
	<real>0.32840418815612793</real>
	<key>startColorGreen</key>
	<real>0.72303426265716553</real>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>0.0</real>
	<key>startColorVarianceBlue</key>
	<real>0.0</real>
	<key>startColorVarianceGreen</key>
	<real>0.0</real>
	<key>startColorVarianceRed</key>
	<real>0.0</real>
	<key>startParticleSize</key>
	<real>20</real>
	<key>startParticleSizeVariance</key>
	<real>0.0</real>
	<key>tangentialAccelVariance</key>
	<real>0.0</real>
	<key>tangentialAcceleration</key>
	<real>0.0</real>
	<key>textureFileName</key>
	<string>MarbleSpecial.png</string>
	<key>textureImageData</key>
	<string>H4sIAAAAAAAAA92XP2hTURSH72slJm2EmKi1EIklkLRZmkVKQCGFDkVSGprNLoHazXTokEIHlxJ0ylKyJODQJSBIwS2LhI4dBaFzh6wu7vF37Kc8gq0W/7xqy5fzODnnd9695977XlZWXM65WHg4HLp/jOsiIibEJDaC/0/WjIqYuCWmxF0xjZ3CHyPud91LCL0EtVIiLbJiTuSwWfwp4hLkhX6hdpjx2PhmxKyYFw9EQTwUj7AF/PPEzZAXQ+eyta2fcZEUGZGnxqJYFiWxKsrYEv5F4vLkJdGJXHLclnOPubVxFcVjURFPRFVsiKfYKv4KcUXy5tCJ/+Q8hJizJLkLYolxrotNURPboi52sNv4N4krk7eAThLdH62HKH3LcP+mscb4nlHrudgTL8RL7B7+OnFV8pbQyaAbvaC27RlbtzP0r8g4TGtL7IqGaIqWaIsOtoW/QdwWeWV08ugmhufvTbs32zu2fgv0cZ3x7DLOffFKdMUbcYjt4t8nbpe8dXQK6E5fMAfWn9TwbA/ZOq7QzzrjMu0DavZEXxxhe/gPiGuQt4nOIrop6nxv7u38StMv20u2nmv0tcn4rMY7cSzeiw/YY/yHxDXJq6GzjG6aOqM9sP1pZ2iWuSrRP1vXe/S3yzit1ok4FQPsCf4ecS3yttEpoZulzuh5YM8QW5+2V+w8szNlgzm0frbpc5/xWs2P4hP2FH+fuDZ5dXRW0Z2jzsRIfXuO2dqw89zOVFu3drbY/rY91mFuj5jzAbWH2AH+I+I65O2gU0Y3R53JKzb+oPsf9PoPev9fhfMv6PM/6OffVXj+B/3+4z8Pgnr/889DUO+//vUQ1Pv/6N4M4vfPeffyt3///be4G55z4845z93Xh+e7Hvtyfc252GtvHL+CvRDXY/q4ad+b14W9uC/mNtf61rvj05z6Gh9zXtIXv+bTrHyr+9bZX5h/7+z/M47fHKa6EAAA</string>
	<key>yCoordFlipped</key>
	<integer>1</integer>
</dict>
</plist>
