<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levels Old</key>
	<array>
		<dict>
			<key>levelName</key>
			<string>RUBE-Test</string>
			<key>numOfMarbles</key>
			<integer>30</integer>
			<key>physics</key>
			<dict/>
			<key>graphics</key>
			<dict>
				<key>RUBELevel</key>
				<string>RUBE-Test.json</string>
			</dict>
			<key>audio</key>
			<dict/>
			<key>scoreLimits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>30</integer>
					<key>Professional</key>
					<integer>100</integer>
					<key>Master</key>
					<integer>200</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>levelName</key>
			<string>Empty Space</string>
			<key>numOfMarbles</key>
			<integer>30</integer>
			<key>physics</key>
			<dict/>
			<key>graphics</key>
			<dict>
				<key>RUBELevel</key>
				<string>Level0.json</string>
				<key>overlayFilename</key>
				<string>Level0-Overlay</string>
			</dict>
			<key>audio</key>
			<dict/>
			<key>scoreLimits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>30</integer>
					<key>Professional</key>
					<integer>100</integer>
					<key>Master</key>
					<integer>200</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>scoreLimits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>100</integer>
					<key>Professional</key>
					<integer>400</integer>
					<key>Master</key>
					<integer>800</integer>
				</dict>
			</dict>
			<key>levelName</key>
			<string>Bouncy Bounce</string>
			<key>numOfMarbles</key>
			<integer>60</integer>
			<key>graphics</key>
			<dict>
				<key>staticBodiesFilename</key>
				<string>Level1-StaticBodies</string>
				<key>overlayFilename</key>
				<string>Level1-Overlay</string>
				<key>backgroundFilename</key>
				<string>Level1-Background</string>
			</dict>
			<key>physics</key>
			<dict/>
			<key>audio</key>
			<dict/>
		</dict>
		<dict>
			<key>scoreLimits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>100</integer>
					<key>Professional</key>
					<integer>400</integer>
					<key>Master</key>
					<integer>800</integer>
				</dict>
			</dict>
			<key>levelName</key>
			<string>Hurpzel Purpzel</string>
			<key>numOfMarbles</key>
			<integer>80</integer>
			<key>graphics</key>
			<dict>
				<key>staticBodiesFilename</key>
				<string>Level2-StaticBodies</string>
				<key>overlayFilename</key>
				<string>Level2-Overlay</string>
				<key>backgroundFilename</key>
				<string>Level2-Background</string>
			</dict>
			<key>physics</key>
			<dict/>
			<key>audio</key>
			<dict/>
		</dict>
		<dict>
			<key>scoreLimits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>100</integer>
					<key>Professional</key>
					<integer>400</integer>
					<key>Master</key>
					<integer>800</integer>
				</dict>
			</dict>
			<key>numOfMarbles</key>
			<integer>50</integer>
			<key>levelName</key>
			<string>Star Bounce</string>
			<key>graphics</key>
			<dict>
				<key>staticBodiesFilename</key>
				<string>Level3-StaticBodies</string>
				<key>overlayFilename</key>
				<string>Level3-Overlay</string>
				<key>backgroundFilename</key>
				<string>Level3-Background</string>
			</dict>
		</dict>
	</array>
	<key>levels</key>
	<array>
		<dict>
			<key>levelName</key>
			<string>RUBE-Test</string>
			<key>numOfMarbles</key>
			<integer>3</integer>
			<key>physics</key>
			<dict/>
			<key>graphics</key>
			<dict>
				<key>RUBELevel</key>
				<string>RUBE-Test.json</string>
			</dict>
			<key>audio</key>
			<dict/>
			<key>scoreLimits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>30</integer>
					<key>Professional</key>
					<integer>100</integer>
					<key>Master</key>
					<integer>200</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>scoreLimits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>100</integer>
					<key>Professional</key>
					<integer>400</integer>
					<key>Master</key>
					<integer>800</integer>
				</dict>
			</dict>
			<key>levelName</key>
			<string>Hurpzel Purpzel</string>
			<key>numOfMarbles</key>
			<integer>80</integer>
			<key>graphics</key>
			<dict>
				<key>staticBodiesFilename</key>
				<string>Level2-StaticBodies</string>
				<key>overlayFilename</key>
				<string>Level2-Overlay</string>
				<key>backgroundFilename</key>
				<string>Level2-Background</string>
			</dict>
		</dict>
		<dict>
			<key>scoreLimits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>100</integer>
					<key>Professional</key>
					<integer>400</integer>
					<key>Master</key>
					<integer>800</integer>
				</dict>
			</dict>
			<key>levelName</key>
			<string>Halfpipe</string>
			<key>numOfMarbles</key>
			<integer>60</integer>
			<key>graphics</key>
			<dict>
				<key>RUBELevel</key>
				<string>Halfpipe.json</string>
				<key>overlayFilename</key>
				<string>HalfPipe-Foreground</string>
			</dict>
		</dict>
		<dict>
			<key>scoreLimits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>100</integer>
					<key>Professional</key>
					<integer>400</integer>
					<key>Master</key>
					<integer>800</integer>
				</dict>
			</dict>
			<key>levelName</key>
			<string>Double Halfpipe</string>
			<key>numOfMarbles</key>
			<integer>60</integer>
			<key>graphics</key>
			<dict>
				<key>RUBELevel</key>
				<string>DoubleHalfpipe.json</string>
			</dict>
		</dict>
		<dict>
			<key>levelName</key>
			<string>Boxes</string>
			<key>numOfMarbles</key>
			<integer>30</integer>
			<key>graphics</key>
			<dict>
				<key>RUBELevel</key>
				<string>Boxes.json</string>
			</dict>
			<key>scoreLimits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>30</integer>
					<key>Professional</key>
					<integer>100</integer>
					<key>Master</key>
					<integer>200</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>scoreLimits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>100</integer>
					<key>Professional</key>
					<integer>400</integer>
					<key>Master</key>
					<integer>800</integer>
				</dict>
			</dict>
			<key>levelName</key>
			<string>Halfpipe 2</string>
			<key>numOfMarbles</key>
			<integer>60</integer>
			<key>graphics</key>
			<dict>
				<key>RUBELevel</key>
				<string>Halfpipe-2.json</string>
			</dict>
		</dict>
		<dict>
			<key>scoreLimits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>100</integer>
					<key>Professional</key>
					<integer>400</integer>
					<key>Master</key>
					<integer>800</integer>
				</dict>
			</dict>
			<key>levelName</key>
			<string>Halfpipe 3</string>
			<key>numOfMarbles</key>
			<integer>60</integer>
			<key>graphics</key>
			<dict>
				<key>RUBELevel</key>
				<string>Halfpipe-3.json</string>
			</dict>
		</dict>
		<dict>
			<key>scoreLimits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>100</integer>
					<key>Professional</key>
					<integer>400</integer>
					<key>Master</key>
					<integer>800</integer>
				</dict>
			</dict>
			<key>numOfMarbles</key>
			<integer>50</integer>
			<key>levelName</key>
			<string>Star Bounce</string>
			<key>graphics</key>
			<dict>
				<key>staticBodiesFilename</key>
				<string>Level3-StaticBodies</string>
				<key>overlayFilename</key>
				<string>Level3-Overlay</string>
				<key>backgroundFilename</key>
				<string>Level3-Background</string>
			</dict>
		</dict>
	</array>
	<key>physics</key>
	<dict/>
	<key>audio</key>
	<dict/>
</dict>
</plist>
