<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LevelOrder</key>
	<array>
		<string>HP</string>
		<string>HP2</string>
		<string>DHP</string>
		<string>Box</string>
		<string>HP3</string>
		<string>Mech</string>
		<string>Mech2</string>
		<string>STB</string>
		<string>HUPU</string>
	</array>
	<key>Levels</key>
	<dict>
		<key>RUBET</key>
		<dict>
			<key>Level</key>
			<string>RUBE-Test.json</string>
			<key>Name</key>
			<string>RUBE-Test</string>
			<key>Marbles</key>
			<integer>60</integer>
			<key>Limits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>30</integer>
					<key>Professional</key>
					<integer>100</integer>
					<key>Master</key>
					<integer>200</integer>
				</dict>
			</dict>
		</dict>
		<key>HP</key>
		<dict>
			<key>Icon</key>
			<string>Icon-Halfpipe</string>
			<key>Name</key>
			<string>Halfpipe</string>
			<key>Level</key>
			<string>Halfpipe.json</string>
			<key>Marbles</key>
			<integer>60</integer>
			<key>Limits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>100</integer>
					<key>Professional</key>
					<integer>400</integer>
					<key>Master</key>
					<integer>800</integer>
				</dict>
			</dict>
		</dict>
		<key>HP2</key>
		<dict>
			<key>Icon</key>
			<string>Icon-Halfpipe2</string>
			<key>Name</key>
			<string>Halfpipe 2</string>
			<key>Level</key>
			<string>Halfpipe-2.json</string>
			<key>Marbles</key>
			<integer>60</integer>
			<key>Limits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>100</integer>
					<key>Professional</key>
					<integer>400</integer>
					<key>Master</key>
					<integer>800</integer>
				</dict>
			</dict>
		</dict>
		<key>HP3</key>
		<dict>
			<key>Icon</key>
			<string>Icon-Halfpipe3</string>
			<key>Level</key>
			<string>Halfpipe-3.json</string>
			<key>Name</key>
			<string>Halfpipe 3</string>
			<key>Marbles</key>
			<integer>60</integer>
			<key>Limits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>100</integer>
					<key>Professional</key>
					<integer>400</integer>
					<key>Master</key>
					<integer>800</integer>
				</dict>
			</dict>
		</dict>
		<key>DHP</key>
		<dict>
			<key>Icon</key>
			<string>Icon-DoubleHalfpipe</string>
			<key>Name</key>
			<string>Double Halfpipe</string>
			<key>Level</key>
			<string>DoubleHalfpipe.json</string>
			<key>Marbles</key>
			<integer>60</integer>
			<key>Limits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>100</integer>
					<key>Professional</key>
					<integer>400</integer>
					<key>Master</key>
					<integer>800</integer>
				</dict>
			</dict>
		</dict>
		<key>Mech</key>
		<dict>
			<key>Icon</key>
			<string>Icon-Mechanic</string>
			<key>Level</key>
			<string>Mechanic-1.json</string>
			<key>Name</key>
			<string>Mechanic</string>
			<key>Marbles</key>
			<integer>70</integer>
			<key>Limits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>30</integer>
					<key>Professional</key>
					<integer>100</integer>
					<key>Master</key>
					<integer>200</integer>
				</dict>
			</dict>
		</dict>
		<key>Mech2</key>
		<dict>
			<key>Icon</key>
			<string>Icon-Mechanic2</string>
			<key>Level</key>
			<string>Mechanic-2.json</string>
			<key>Name</key>
			<string>Mechanic 2 </string>
			<key>Marbles</key>
			<integer>100</integer>
			<key>Limits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>30</integer>
					<key>Professional</key>
					<integer>100</integer>
					<key>Master</key>
					<integer>200</integer>
				</dict>
			</dict>
		</dict>
		<key>Box</key>
		<dict>
			<key>Icon</key>
			<string>Icon-Boxes</string>
			<key>Level</key>
			<string>Boxes.json</string>
			<key>Name</key>
			<string>Boxes</string>
			<key>Marbles</key>
			<integer>30</integer>
			<key>Limits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>30</integer>
					<key>Professional</key>
					<integer>100</integer>
					<key>Master</key>
					<integer>200</integer>
				</dict>
			</dict>
		</dict>
		<key>STB</key>
		<dict>
			<key>Icon</key>
			<string>Icon-StarBounce</string>
			<key>Limits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>100</integer>
					<key>Professional</key>
					<integer>400</integer>
					<key>Master</key>
					<integer>800</integer>
				</dict>
			</dict>
			<key>Marbles</key>
			<integer>50</integer>
			<key>Name</key>
			<string>Star Bounce</string>
			<key>graphics</key>
			<dict>
				<key>staticBodiesFilename</key>
				<string>Level3-StaticBodies</string>
				<key>overlayFilename</key>
				<string>Level3-Overlay</string>
				<key>backgroundFilename</key>
				<string>Level3-Background</string>
			</dict>
		</dict>
		<key>HUPU</key>
		<dict>
			<key>Icon</key>
			<string>Icon-HurpzelPurpzel</string>
			<key>Name</key>
			<string>Hurpzel Purpzel</string>
			<key>scoreLimits</key>
			<dict>
				<key>time</key>
				<dict>
					<key>Amateur</key>
					<string>5:00</string>
					<key>Professional</key>
					<string>2:30</string>
					<key>Master</key>
					<string>1:30</string>
				</dict>
				<key>score</key>
				<dict>
					<key>Amateur</key>
					<integer>100</integer>
					<key>Professional</key>
					<integer>400</integer>
					<key>Master</key>
					<integer>800</integer>
				</dict>
			</dict>
			<key>Marbles</key>
			<integer>80</integer>
			<key>graphics</key>
			<dict>
				<key>staticBodiesFilename</key>
				<string>Level2-StaticBodies</string>
				<key>overlayFilename</key>
				<string>Level2-Overlay</string>
				<key>backgroundFilename</key>
				<string>Level2-Background</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
